.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #d50640;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}